@using Microsoft.AspNetCore.Components.Web;
@using Outrage.Patternfly.Components.Utilities

@inherits Outrage.Patternfly.Components.Base.PatternflyComponentBase

@using Outrage.Patternfly.Components.Button

<div class="@Classes" @attributes="AdditionalAttributes">
    <PatternflyButton type="@Type" Color="@Color" Icon="@Icon" IconLibrary="@IconLibrary" IconWeight="@IconWeight" IconPosition="@IconPosition" Clicked="ActionClicked" @attributes="AdditionalAttributes">
        @ChildContent
    </PatternflyButton>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ButtonColor Color { get; set; } = ButtonColor.Primary;

    [Parameter] 
    public string? Icon { get; set; } = null;

    [Parameter]
    public LibraryEnum IconLibrary { get; set; } = LibraryEnum.fontawesome;

    [Parameter] 
    public IconPosition IconPosition { get; set; } = IconPosition.Start;

    [Parameter]
    public WeightEnum IconWeight { get; set; } = WeightEnum.solid;

    [Parameter]
    public EventCallback<MouseEventArgs> Clicked { get; set; }

    [Parameter]
    public string Type { get; set; } = "button";

    async Task ActionClicked(MouseEventArgs e)
    {
        await this.Clicked.InvokeAsync(e);
    }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        return new string[] { "pf-v5-c-action-list__item" };
    }
}
