@page "/patternfly-togglegroup"
@using Outrage.Patternfly.Components.ToggleGroup

<PageTitle>Patternfly - Toggle Group</PageTitle>

<PatternflyTitle>Patternfly Toggle Group</PatternflyTitle>

<PatternflyPanel>
    <Body>
        <PatternflyTitle HeadingLevel="2">Single Select</PatternflyTitle>
        <PatternflyToggleGroup @bind-Value="selectedValue">
            <PatternflyToggleGroupItem Value="@("One")">
                Item One
            </PatternflyToggleGroupItem>
            <PatternflyToggleGroupItem Value="@("Two")">
                Item Two
            </PatternflyToggleGroupItem>
            <PatternflyToggleGroupItem Value="@("Three")">
                Item Three
            </PatternflyToggleGroupItem>
        </PatternflyToggleGroup>

        <div>
            <span>Selected:</span><span>@selectedValue</span>
        </div>
        
        <PatternflyTitle HeadingLevel="2">Multiple Select</PatternflyTitle>
        <PatternflyToggleGroupMultiselect @bind-Value="selectedValues">
            <PatternflyToggleGroupItem Value="@("One")">
                Item One
            </PatternflyToggleGroupItem>
            <PatternflyToggleGroupItem Value="@("Two")">
                Item Two
            </PatternflyToggleGroupItem>
            <PatternflyToggleGroupItem Value="@("Three")">
                Item Three
            </PatternflyToggleGroupItem>
        </PatternflyToggleGroupMultiselect>

        <div>
            Selected values:
            @foreach (var value in selectedValues)
            {
                <span>@value</span>
                <span>&nbsp;</span>
            }
        </div>
    </Body>
</PatternflyPanel>

<Markdown Href="/markdown/patternfly-togglegroup.md"></Markdown>

@code {
    string? selectedValue;
    HashSet<string> selectedValues = new();
}
