@inherits Patternfly.Components.Base.PatternflyComponentBase
@using Outrage.Patternfly.Components.Utilities

<li class="@Classes" @attributes="AdditionalAttributes">
    <button class="pf-c-nav__link"
            id="@controlsId"
            aria-expanded="@Expanded"
            @onclick="ToggleExpanded">
        @if (Icon != null)
        {
            <Icon Name="@Icon" Library="@IconLibrary" Weight="@IconWeight"/>
        }
        @if (Text != null)
        {
            @Text
        }
        <span class="pf-c-nav__toggle">
            <span class="pf-c-nav__toggle-icon">
                @if (Expanded)
                {
                    <Icon Name="@IconExpanded" Library="@IconLibrary" Weight="@IconWeight"/>
                } else
                {
                    <Icon Name="@IconCollapsed" Library="@IconLibrary" Weight="@IconWeight"/>
                }
            </span>
        </span>
    </button>
    <section class="pf-c-nav__subnav"
             aria-labelledby="@controlsId"
             hidden="@(!Expanded)">
        <ul class="pf-c-nav__list">
            @ChildContent
        </ul>
    </section>
</li>

@code {
    HtmlId controlsId = new();
    [Parameter] public string? Text { get; set; } = null;
    [Parameter] public string? Icon { get; set; } = null;
    [Parameter] public string? IconExpanded { get; set; } = "fa-angle-down";
    [Parameter] public string? IconCollapsed { get; set; } = "fa-angle-right";
    [Parameter] public Icon.WeightEnum IconWeight { get; set; } = Utilities.Icon.WeightEnum.solid;
    [Parameter] public Icon.LibraryEnum IconLibrary { get; set; } = Utilities.Icon.LibraryEnum.fontawesome;
    [Parameter] public RenderFragment? ChildContent { get; set; } = null;
    [Parameter] public bool Expanded { get; set; } = false;
    [Parameter] public EventCallback<bool> OnExpanded { get; set; }

    protected override void OnInitialized()
    {
        controlsId = new HtmlId();
        base.OnInitialized();
    }

    async Task ToggleExpanded()
    {
        this.Expanded = !this.Expanded;
        if (this.Expanded)
        {
            await OnExpanded.InvokeAsync(Expanded);
        }
        await this.InvokeAsync(this.StateHasChanged);
    }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        var classes = new HashSet<string>(new string[] { "pf-c-nav__item", "pf-m-expandable" });
        if (this.Expanded)
            classes.Add("pf-m-expanded");

        return classes;
    }
}
