@using Outrage.Patternfly.Components.Button
@inherits Patternfly.Components.Base.PatternflyComponentBase
@inject NavigationManager Nav

<div class="@Classes" @attributes="AdditionalAttributes">
    <header class="pf-c-page__header pf-l-flex pf-m-space-items-md" role="banner">
        <div class="pf-c-page__header-brand pf-l-flex pf-m-space-items-md">
            @if (Toggle != null) {
                <div class="pf-c-page__header-brand-toggle pf-l-flex__item u-cursor-pointer" @onclick="ToggleSidebar" aria-controls="@controlsId">@Toggle</div>
            }
            @if (Logo != null)
            {
                <PatternflyButton Color="ButtonColor.Plain" Clicked="NavigateHome" class="pf-c-page__header-brand-link pf-l-flex__item">@Logo</PatternflyButton>
            }
        </div>
        @if (Header != null)
        {
            <div class="pf-c-page__header-nav pf-l-flex__item">@Header</div>
        }
        @if (Tools != null)
        {
            <div class="pf-c-page__header-tools pf-l-flex__item">@Tools</div>
        }
    </header>
    @if (Sidebar != null)
    {
        <div id="@controlsId" class="pf-c-page__sidebar @(sidebar?"pf-m-expanded":"pf-m-collapsed")" aria-expanded="@sidebar">
            <div class="pf-c-page__sidebar-body">@Sidebar</div>
        </div>
    }
    <main class="pf-c-page__main" tabindex="-1" role="main">
        <section class="pf-c-page__main-section @(FillMainContent ? "pf-m-fill" : string.Empty)">@Body</section>
        @if (Footer != null)
        {
            <section class="pf-c-page__main-section @(StickyFooter ? "pf-m-sticky-bottom" : string.Empty) pf-m-no-fill pf-m-dark-200">@Footer</section>
        }
    </main>
</div>

@code {
    public bool sidebar = true;
    public HtmlId controlsId = new();

    [Parameter] public RenderFragment? Toggle { get; set; }
    [Parameter] public RenderFragment? Logo { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Tools { get; set; }
    [Parameter] public RenderFragment? Sidebar { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }

    [Parameter] public bool FillMainContent { get; set; }
    [Parameter] public bool StickyFooter { get; set; }

    void ToggleSidebar()
    {
        this.sidebar = !sidebar;
        this.StateHasChanged();
    }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        return new string[] { "pf-c-page" };
    }

    protected virtual void NavigateHome()
    {
        this.Nav.NavigateTo("/");
    }
}
