@inherits Base.PatternflyComponentBase
@using Outrage.Patternfly.Components.Utilities;
<button class="@Classes"
        type="button"
        aria-label="Actions"
        @onclick="OnClicked" 
        @onclick:stopPropagation>
    <span class="pf-v5-c-menu__item-action-icon">
        <Icon Name="@Icon" Weight="@IconWeight" Size="@IconSize" Library="@IconLibrary" />
    </span>
</button>

@code {
    [Parameter, EditorRequired]
    public string? Icon { get; set; }

    [Parameter]
    public WeightEnum IconWeight { get; set; } = PatternflyDefaults.IconWeight;

    [Parameter]
    public SizeEnum IconSize { get; set; } = PatternflyDefaults.IconSize;

    [Parameter]
    public LibraryEnum IconLibrary { get; set; } = PatternflyDefaults.IconLibrary;

    [Parameter]
    public EventCallback<MouseEventArgs> Clicked { get; set; }

    protected override IEnumerable<string> OnIntroduceClasses()
    {
        return new string[] { "pf-v5-c-menu__item-action" };
    }

    protected async Task OnClicked(MouseEventArgs args)
    {
        await Clicked.InvokeAsync(args);
    }
}
